.navbar {
    background: #fff;
    height: 70px;
    padding: 2em;
}

.btn {
    color: #f60;
    text-transform: uppercase;
    /* font-weight: bold; */
}

.btn, .btn:hover {
    transition: color 500ms ease;
}

img {
    cursor: pointer;
    width: 64px;
    height: 64px;
}



.built-with {
    font-size: 0.8em;
    color: #fff;
    font-weight: 300;
    /* padding-right: 2em; */
}